* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#layout {
    border: 1px solid black;
    height: 6000px;
    width: 100%;
    margin: 20px auto;
}

header {
    height: 150px;
    width: 100%;
    border-bottom: 1px solid black;
    position: relative;
}

h1{
    position: absolute;
    top: 30px;
    left: 670px;
    color: azure;
}
h2{
    position: absolute;
    top: 80px;
    left: 600px;
    color: azure;
    text-shadow: black -10px 5px 0px;
}
section {
    height: 65%;
    width: 100%;
    border-right: 1px solid black;
    background-color: rgb(51, 29, 71);
    float: left;
    position: relative;
}
.menu li{
    position: absolute;
    height: 50px;
    width: 120px;
    background-color: rgb(222, 51, 51);
    list-style-type: none;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px 0px 15px 0px;
}
.menu li a {
    text-decoration: none;
    color: white;
    transform: ;
}
.menu li:nth-child(5){
    top: 20px;
    right: 50px;
    text-indent: 20px;
}
.menu li:nth-child(4){
    top: 20px;
    right: 210px;
    line-height: 50px;
    text-indent: 20px;
}
.menu li:nth-child(3){
    top: 20px;
    right: 370px;
    line-height: 50px;
    text-indent: 20px;
}
.menu li:nth-child(2){
    top: 20px;
    right: 530px;
    line-height: 50px;
    text-indent: 20px;
}
.menu li:nth-child(1){
    top: 20px;
    right: 690px;
    line-height: 50px;
    transform: rotate(20deg);
    text-indent: 20px;
}
.menu li:hover{
    background-color: beige;
}
.menu li:hover>a {
    color: black;
    font-weight: bold;
}
 input{
    width: 50px;
    
}